<div class="container-fluid">
    <div class="col-sm-8">
        <h1>
          Lorem en Blog
        </h1>
        <app-post-list [posts]="posts"></app-post-list>
      </div>
      
      <div class="col-sm-4">
        <h2 class="text-center">Nouvel article</h2>
        <form>
          <div class="form-group">
            <label for="newTitle">Titre</label>
            <input #newTitle type="text" class="form-control" value="What is Lorem Ipsum?"/>
          </div>
          <div class="form-group">
            <label for="newContent">Article</label>
            <textarea #newContent class ="form-control">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</textarea>
          </div>
          <button class="btn btn-primary pull-right" (click)="onPost(newTitle.value, newContent.value)"><i class="glyphicon glyphicon-send"></i> Poster</button>
        </form>
      </div>
</div>
